{%extends 'movie_app/base.html'%}

{%block title%}Все фильмы{%endblock title%}

{%block content%}
    <h2>Список всех фильмов</h2>
    <ul>
        {% for movie in movies %}
            <li><a href="{{ movie.get_url }}">{{ movie.name }}</a>,
                рейтинг - {{ movie.rating }}%,
                год - {{ movie.year|default:"Неизвестен" }},
                бюджет - {{ movie.budget }}
            </li>
        {% endfor %}
    </ul>

    <h3>Средний бюджет - {{ agg.budget__avg }}</h3>
    <h3>Минимальный рэйтинг - {{ agg.rating__min }}</h3>
    <h3>Максимальный рэйтинг - {{ agg.rating__max }}</h3>
    <h3>Всего фильмов - {{ agg.id__count }}</h3>

{%endblock content%}