{%extends 'movie_app/base.html'%}

{%block title%}Информация о фильме - {{ movie.name }}{%endblock title%}

{%block content%}
    <h2>Информация о фильме - {{ movie.name }}</h2>
    <h3>Рейтинг {{ movie.rating }}%</h3>
    <h3>Бюджет {{ movie.budget }}$</h3>
    <h3>Год выхода {{ movie.year|default:"неизвестен" }}</h3>
    <hr>
    <h3>Информация о режиссёре</h3>
    <h4>Имя {{movie.director.first_name}}</h4>
    <h4>Фамилия {{movie.director.last_name}}</h4>
    <h4>Почта {{movie.director.email}}</h4>
    <hr>
    <h3>Список актёров</h3>
    <ul>
        {% for actor in movie.actors.all %}
            <li><a href="{{ actor.get_url }}">{{actor}}</a></li>
        {%endfor%}
    </ul>
{%endblock content%}